
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin_Master.cshtml";
}
<script>
    window.onload = function () {

        Bayiler();
        bayiKullanicilari();
        adminKullanicilari();
    }

    var bayilerDizisi;
    function Bayiler() {
        $.ajax({
            url: '/Admin_BayilerVeKullanicilar/bayiler/',
            type: 'POST',
            dataType: 'text',
            success: function (data) {
                var result = JSON.parse(data);
                $(".bayiListesi").html('<option value="-1">Seçiniz</option>');
                for (var i = 0; i < result.length; i++) {
                    $(".bayiListesi").append('<option value="' + result[i].BayiKodu + '">' + result[i].BayiAdi + '</option>');
                }
            }
        });
    }
    function sifreOlustur() {

        $(".cpassword").val(Math.floor(Math.random() * (9999 - 1000 + 1)) + 1000);
        $(".ccpassword").val(Math.floor(Math.random() * (9999 - 1000 + 1)) + 1000);
    }


    function check(checkk) {
        if ($(checkk).is(":checked")) {
            $(checkk).attr("value", "true");
        } else {
            $(checkk).attr("value", "false");
        }
    }

    function Validate(data, status, xhr) {
        if (data == "yeniKullanici") {
            $("#cAktif").prop("checked", true);
            $("#cname").val("");
            $("#cemail").val("");
            $("#cemail").prop("readonly", false);
            $("#cphone").val("");
            $("#cpassword").val("");
            $("#ccAktif").prop("checked", true);
            $("#ccname").val("");
            $("#ccemail").val("");
            $("#ccemail").prop("readonly", false);
            $("#ccphone").val("");
            $("#ccpassword").val("");
            $(".KullaniciSilButon").html("");
            document.getElementById("bayiListesi").value = "-1";
            $("#select2-bayiListesi-container").html("Seçiniz");
        } else if (data == "ok") {
            $("#cname").val("");
            $("#cAktif").prop("checked", true);
            $("#cemail").val("");
            $("#cemail").prop("readonly", false);
            $("#cphone").val("");
            $("#cpassword").val("");
            $("#ccname").val("");
            $("#ccAktif").prop("checked", true);
            $("#ccemail").val("");
            $("#ccemail").prop("readonly", false);
            $("#ccphone").val("");
            $("#ccpassword").val("");
            $(".KullaniciSilButon").html("");
            document.getElementById("bayiListesi").value = "-1";
            $("#select2-bayiListesi-container").html("Seçiniz");
            OnayMesaji("Kayıt Başarılı");
            bayiKullanicilari();
            adminKullanicilari();
        } else {
            UyariMesaji(data);
        }
    }

    function adminKullanicilari(LREF) {
        var dataTable = [];
        $.ajax({
            url: '/Admin_BayilerVeKullanicilar/adminKullanicilari/',
            type: 'POST',
            dataType: 'text',
            success: function (data) {
                var result = JSON.parse(data);
                if (LREF == undefined) {
                    for (var i = 0; i < result.length; i++) {
                       
                           
                                dataTable.push({
                                    'field1': '<a onclick="adminKullanicilari(' + result[i].LOGICALREF + ')"><i class="fa-solid fa-user-pen"></i></a>',
                                    'field2': (Boolean(result[i].Statu) ? '<div class="filter-colors"><a href="#" style="background: #669933;"><span class="sr-only">Aktif</span></a></div>' : '<div class="filter-colors"><a href="#" style="background: #cc3333;"><span class="sr-only">Pasif</span></a></div>'),                                 
                                    'field3': result[i].MailAdresi,
                                    'field4': result[i].AdiSoyadi,
                                    'field5': result[i].GSM,
                                });

                    }
                    $("#adminKullanicilarTablosu").bootstrapTable({ data: dataTable })
                } else {
                    for (var i = 0; i < result.length; i++) {
                        if (result[i].LOGICALREF == LREF) {
                            if (Boolean(result[i].Statu)) {
                                $("#ccAktif").prop("checked", true);
                            } else {
                                $("#ccAktif").prop("checked", false);

                            }

                            if ($("#ccAktif").is(":checked")) {
                                $("#ccAktif").prop("value", "true");
                            } else {
                                $("#ccAktif").prop("value", "false");
                            }
                            $("#ccname").val(result[i].AdiSoyadi);
                            $("#ccemail").val(result[i].MailAdresi);
                            $("#ccemail").prop("readonly", true);
                            $("#ccphone").val(result[i].GSM);
                           
                            
                            $(".KullaniciSilButon").html('<a onclick="kullaniciSil(' + LREF + ',1)" class="btn btn-outline-danger btn-minwidth-sm" style="float:right"> <span>SİL</span> <i class="icon-long-arrow-right"></i></a>');

                            //  $('.bayiListesi option[val=' + result[i].BayiKodu + ']').attr('selected', 'selected');
                        }
                    }


                }

            }
        });
    }
    function bayiKullanicilari(LREF) {
        var dataTable = [];
        $.ajax({
            url: '/Admin_BayilerVeKullanicilar/bayiKullanicilari/',
            type: 'POST',
            dataType: 'text',
            success: function (data) {
                var result = JSON.parse(data);
                if (LREF == undefined) {
                    for (var i = 0; i < result.length; i++) {
                       
                           
                                dataTable.push({
                                    'field1': '<a onclick="bayiKullanicilari(' + result[i].LOGICALREF + ')"><i class="fa-solid fa-user-pen"></i></a>',
                                    'field2': (Boolean(result[i].Status) ? '<div class="filter-colors"><a href="#" style="background: #669933;"><span class="sr-only">Aktif</span></a></div>' : '<div class="filter-colors"><a href="#" style="background: #cc3333;"><span class="sr-only">Pasif</span></a></div>'),
                                    'field3': result[i].BayiKodu,
                                    'field4': result[i].BayiAdi,
                                    'field5': result[i].MailAdresi,
                                    'field6': result[i].AdiSoyadi,
                                    'field7': result[i].GSM,
                                    'field8': (Boolean(result[i].AdminMi) ? '<div class="filter-colors"><a href="#" style="background: #669933;"><span class="sr-only">Evet</span></a></div>' : '<div class="filter-colors"><a href="#" style="background: #cc3333;"><span class="sr-only">Hayır</span></a></div>')
                                });

                    }
                    $("#bayiKullanicilarTablosu").bootstrapTable({ data: dataTable })
                } else {
                    for (var i = 0; i < result.length; i++) {
                        if (result[i].LOGICALREF == LREF) {
                            if (Boolean(result[i].Status)) {
                                $("#cAktif").prop("checked", true);
                            } else {
                                $("#cAktif").prop("checked", false);

                            }

                            if ($("#cAktif").is(":checked")) {
                                $("#cAktif").prop("value", "true");
                            } else {
                                $("#cAktif").prop("value", "false");
                            }
                            $("#cname").val(result[i].AdiSoyadi);
                            $("#cemail").val(result[i].MailAdresi);
                            $("#cemail").prop("readonly", true);
                            $("#cphone").val(result[i].GSM);
                            document.getElementById("bayiListesi").value = result[i].BayiKodu;

                            for (var j = 0; j < bayilerDizisi.length; j++) {
                                if (result[i].BayiKodu == bayilerDizisi[j].BayiKodu) {
                                    $("#select2-bayiListesi-container").html(bayilerDizisi[j].BayiAdi);
                                    break;
                                }
                            }
                            $(".KullaniciSilButon").html('<a onclick="kullaniciSil(' + LREF + ',0)" class="btn btn-outline-danger btn-minwidth-sm" style="float:right"> <span>SİL</span> <i class="icon-long-arrow-right"></i></a>');

                            //  $('.bayiListesi option[val=' + result[i].BayiKodu + ']').attr('selected', 'selected');
                        }
                    }


                }

            }
        });
    }

    function kullaniciSil(LREF, adminMi) {
        var theData = {
            LREF: LREF,
            adminMi: adminMi
        }
        $.ajax({
            url: '/Admin_BayilerVeKullanicilar/kullaniciSil/',
            type: 'POST',
            dataType: 'text',
            data: theData,
            success: function (data) {
                Validate("ok");
            }
        });
    }
</script>
@section scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

}
<style>
    table tbody tr td {
        white-space: nowrap;
    }

    thead {
        background-color: #006EB7;
        color: white
    }
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link, .nav.nav-pills .nav-link:focus {
        border: 1px solid #808080;
        background-color: dodgerblue;
        color: white
    }
</style>
<div class="d-flex align-items-start">
    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Bayi Kullanıcıları</button>
        <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Admin Kullanıcıları</button>
      
    </div>
    <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <div class="page-content mt-1">


                <div class="row">


                    <div class="col-md-12">
                        @using (Ajax.BeginForm("bayikullaniciDuzenle", "Admin_BayilerVeKullanicilar", new AjaxOptions { HttpMethod = "POST", OnSuccess = "return Validate(data, status, xhr);", }))
                        {
                            <div class="card col-md-6 m-auto">
                                <h2 class="title mb-1 text-primary" style="float:left">Bayi Kullanıcıları</h2>
                                <a class="btn btn-primary btn-sm" style="float:right" onclick=" Validate('yeniKullanici')">Yeni Kullanıcı</a>
                                <div style="clear:both"></div>
                                <div class="contact-form mb-3">
                                    <div class="row mb-1">
                                        <div class="col-sm-10">
                                            <label for="cname" class="label-top m-0">Bayi *</label>
                                            <select class="bayiListesi form-control" id="bayiListesi" name="cbayi"></select>
                                        </div><!-- End .col-sm-6 -->
                                        <div class="col-sm-2">
                                            <label for="cAktif" class="label-top m-0">Aktif Mi *</label>
                                            <input type="checkbox" class="custom-checkbox" value="true" checked="checked" onclick="check(this)" name="cAktif" id="cAktif">

                                        </div><!-- End .col-sm-6 -->
                                        <div class="col-sm-6">
                                            <label for="cname" class="label-top m-0">Adı Soyadı *</label>
                                            <input type="text" class="form-control" name="cname" id="cname" required="">
                                        </div><!-- End .col-sm-6 -->
                                        <div class="col-sm-6">
                                            <label for="cemail" class="label-top m-0">Email *</label>
                                            <input type="email" class="form-control" name="cemail" id="cemail" required="">
                                        </div><!-- End .col-sm-6 -->
                                    </div><!-- End .row -->
                                    <div class="row mb-1">
                                        <div class="col-sm-6">
                                            <label for="cphone" class="label-top m-0">Telefon *</label>
                                            <input type="tel" class="form-control" name="cphone" id="cphone">
                                            <small class="text-danger">0(Sıfır) Kullanmadan Bitişik Şekilde Yazınız.</small>
                                        </div><!-- End .col-sm-6 -->
                                        <div class="col-sm-6">
                                            <label for="csubject" class="label-top m-0">Şifre *</label>
                                            <a class="btn btn-warning btn-sm" style="float:right" onclick="sifreOlustur()"><i class="fa-solid fa-lock"></i></a>
                                            <input type="text" class="form-control cpassword" name="cpassword" readonly>

                                        </div><!-- End .col-sm-6 -->
                                    </div><!-- End .row -->

                                    <button type="submit" class="btn btn-outline-primary-2 btn-minwidth-sm">
                                        <span>KAYDET</span>
                                        <i class="icon-long-arrow-right"></i>
                                    </button>

                                    <div class="KullaniciSilButon">

                                    </div>

                                </div>
                            </div>

                        }
                        <table id="bayiKullanicilarTablosu" class="table table-striped table-sm"
                               data-toolbar="#toolbar"
                               data-search="true"
                               data-search-highlight="true"
                               data-show-export="true"
                               data-export-types="['excel']"
                               data-export-options='{"fileName": "Bayi Kullanıcıları"}'
                               data-pagination="true"
                               data-locale="tr-TR">
                            <thead>
                                <tr>
                                    <th data-field="field1"></th>
                                    <th data-field="field2">AktifMi</th>
                                    <th data-field="field3">Bayi Kodu</th>
                                    <th data-field="field4">Bayi Adı</th>
                                    <th data-field="field5">Mail Adresi</th>
                                    <th data-field="field6">Adı Soyadı</th>
                                    <th data-field="field7">GSM</th>
                                    <th data-field="field8">AdminMi</th>

                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>


            </div>
        </div>


        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <div class="page-content mt-1">


                    <div class="row">


                        <div class="col-md-12">
                            @using (Ajax.BeginForm("adminkullaniciDuzenle", "Admin_BayilerVeKullanicilar", new AjaxOptions { HttpMethod = "POST", OnSuccess = "return Validate(data, status, xhr);", }))
                            {
                                <div class="card col-md-12 m-auto">
                                    <h2 class="title mb-1 text-primary" style="float:left">Admin Kullanıcıları</h2>
                                    <a class="btn btn-primary btn-sm" style="float:right" onclick=" Validate('yeniKullanici')">Yeni Kullanıcı</a>
                                    <div style="clear:both"></div>
                                    <div class="contact-form mb-3">
                                        <div class="row mb-1">
                                            
                                            <div class="col-sm-12">
                                                <label for="ccAktif" class="label-top m-0">Aktif Mi *</label>
                                                <input type="checkbox" class="custom-checkbox" value="true" checked="checked" onclick="check(this)" name="ccAktif" id="ccAktif">

                                            </div><!-- End .col-sm-6 -->
                                            <div class="col-sm-6">
                                                <label for="ccname" class="label-top m-0">Adı Soyadı *</label>
                                                <input type="text" class="form-control" name="ccname" id="ccname" required="">
                                            </div><!-- End .col-sm-6 -->
                                            <div class="col-sm-6">
                                                <label for="ccemail" class="label-top m-0">Email *</label>
                                                <input type="email" class="form-control" name="ccemail" id="ccemail" required="">
                                            </div><!-- End .col-sm-6 -->
                                        </div><!-- End .row -->
                                        <div class="row mb-1">
                                            <div class="col-sm-6">
                                                <label for="ccphone" class="label-top m-0">Telefon *</label>
                                                <input type="tel" class="form-control" name="ccphone" id="ccphone">
                                                <small class="text-danger">0(Sıfır) Kullanmadan Bitişik Şekilde Yazınız.</small>
                                            </div><!-- End .col-sm-6 -->
                                            <div class="col-sm-6">
                                                <label for="ccsubject" class="label-top m-0">Şifre *</label>
                                                <a class="btn btn-warning btn-sm" style="float:right" onclick="sifreOlustur()"><i class="fa-solid fa-lock"></i></a>
                                                <input type="text" class="form-control ccpassword" name="ccpassword" readonly>

                                            </div><!-- End .col-sm-6 -->
                                        </div><!-- End .row -->

                                        <button type="submit" class="btn btn-outline-primary-2 btn-minwidth-sm">
                                            <span>KAYDET</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>

                                        <div class="KullaniciSilButon">

                                        </div>

                                    </div>
                                </div>

                            }
                            <table id="adminKullanicilarTablosu" class="table table-striped table-sm"
                                   data-toolbar="#toolbar"
                                   data-search="true"
                                   data-search-highlight="true"
                                   data-show-export="true"
                                   data-export-types="['excel']"
                                   data-export-options='{"fileName": "Admin Kullanıcıları"}'
                                   data-pagination="true"
                                   data-locale="tr-TR">
                                <thead>
                                    <tr>
                                        <th data-field="field1"></th>
                                        <th data-field="field2">AktifMi</th>
                                        <th data-field="field3">Mail Adresi</th>
                                        <th data-field="field4">Adı Soyadı</th>
                                        <th data-field="field5">GSM</th>

                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>


                </div>
            </div>

        </div>
       
    </div>
</div>

