
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Dealer_Master.cshtml";
}







<style>
    table tbody tr td {
        white-space: nowrap;
    }

    td, th {
        text-align: center
    }

    thead {
        background-color: #006EB7;
        color: white
    }
</style>

<table class="table-striped table-sm" id="table"
       data-toolbar="#toolbar"
       data-search="true"
       data-pagination="true"
       data-show-export="true"
       data-export-data-type="all"></table>

<script>

    window.onload = function () {

        irsaliyeler();

        //  buildTable($('#table'), 8, 1)
    }



    function irsaliyeler() {
        loading(true);
        $.ajax({
            url: '/Dealer_Irsaliyeler/Irsaliyeler/',
            type: 'POST',
            dataType: 'text',
            success: function (sonuc) {
                loading(false);
                var result = JSON.parse(sonuc);
                eval('var objBaslik=' + sonuc);

                var i; var j; var row;
                var columns = []
                var data = []
                i = 0;
                for (x in objBaslik[0]) {
                    columns.push({
                        field: 'field' + i,
                        title: x,
                        sortable: true,
                        visible: (x == "stFicheRef" ? false : true)

                    })
                    i++;
                }

                for (i = 0; i < result.length; i++) {
                    row = {}
                    for (j = 0; j < columns.length; j++) {
                        row['field' + j] = result[i][columns[j].title];
                    }
                    data.push(row);
                }
                var Gindex = -1;
                $('#table').bootstrapTable({
                    columns: columns,
                    // exportDataType: $(this).val(),
                    exportTypes: ['excel'],
                    locale: 'tr-TR',
                    data: data,
                    exportOptions: {
                        fileName: 'İrsaliyeler'
                    },
                    detailView: columns.length > 1,
                    onExpandRow: function (index, row, $detail) {
                        if (Gindex != index)
                            $('#table').bootstrapTable('collapseRow', Gindex);
                        Gindex = index;
                        irsaliyeIcerigi(result[index]["stFicheRef"], $detail.html('<table class="table-striped table-sm" style="margin-left: 15px;width:auto"></table>').find('table'));
                    }
                });
            }
        });
    }




    function irsaliyeIcerigi(stFicheRef, $detail) {
        var theData = {
            stFicheRef: stFicheRef,
        }
        $.ajax({
            url: '/Dealer_Irsaliyeler/IrsaliyeDetaylari/',
            type: 'POST',
            dataType: 'text',
            data: theData,
            success: function (data) {
                var result = JSON.parse(data);
                eval('var objBaslik=' + data);

                var i; var j; var row;
                var columns = []
                var data = []
                i = 0;
                for (x in objBaslik[0]) {
                    columns.push({
                        field: 'field' + i,
                        title: x,
                        sortable: true,
                        visible: (x == "stLineRef" ? false : true)
                    })
                    i++;
                }

                for (i = 0; i < result.length; i++) {
                    row = {}
                    for (j = 0; j < columns.length; j++) {
                        row['field' + j] = result[i][columns[j].title];
                    }
                    data.push(row);
                }
                $detail.bootstrapTable({
                    columns: columns,
                    // exportDataType: $(this).val(),
                    //exportTypes: ['excel'],
                    data: data,
                    //detailView: columns.length > 1,
                    //onExpandRow: function (index, row, $detail) {

                    //    /* eslint no-use-before-define: ["error", { "functions": false }]*/
                    //}
                });
            }
        });

    }

</script>


