
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin_Master.cshtml";
}
@using KaleBlokBims.Models.Classlar
@{

    var yetkiler = Yetkiler.AdminKullaniciYetkisi();
}
@section scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

}
<script>


        window.onload = function () {

            TumBayiler();
            AdminBilgileri();
            duyurular();
          //  buildTable($('#table'), 8, 1)
        }
    function duyurular() {
        loading(true);
        $.ajax({
            url: '/Admin_Anasayfa/Duyurular/',
            type: 'POST',
            dataType: 'text',
            success: function (data) {
                loading(false);
                var result = JSON.parse(data);
                for (var i = 0; i < result.length; i++) {
                    if (Boolean(result[i].AcilirMesajMi)) {
                        // alert((result[i].AcilirMesajGenisligi));
                        Swal.fire({
                            title: result[i].Baslik,
                            icon: 'info',
                            html: "<div style='text-align:left'>" + result[i].Icerik + "</div>",
                            showCloseButton: true,
                            showConfirmButton: false,
                            width: (result[i].AcilirMesajGenisligi),
                        })
                    } else {
                       
                    }
                    $(".duyurular").append(result[i].Baslik + "<br/>");
                    $(".duyurular").append(result[i].Icerik + "<hr/>");
                }
            }
        });

    }

    function TumBayiler() {
        $.ajax({
            url: '/Admin_BayilerVeKullanicilar/bayiler/',
            type: 'POST',
            dataType: 'text',
            success: function (sonuc) {
                var result = JSON.parse(sonuc);

                var dataTable = []
                for (var i = 0; i < result.length; i++) {
                    dataTable.push({
                        'field1': result[i].BayiKodu,
                        'field2': result[i].BayiAdi,
                        'field3': "<a class='btn btn-primary btn-sm text-white' onclick='sistemeGir(" + result[i].LOGICALREF + ")'>Sisteme Gir</a>"

                    });

                }
                $("#bayiler").bootstrapTable("destroy");
                $("#bayiler").bootstrapTable({ data: dataTable, pagination: true });
                //for (var i = 0; i < result.length; i++) {


                //    $("#bayiler tbody").append("<tr><td>" + result[i]["BayiKodu"] + "</td><td>" + result[i]["BayiAdi"] + "</td><td><a class='btn btn-primary btn-sm text-white' onclick='sistemeGir(" + result[i]["LOGICALREF"] + ")'>Sisteme Gir</a></td></tr>");
                //}


            }
        });
    }

    function sistemeGir(LOGICALREF) {
        var theData = {
            LOGICALREF: LOGICALREF
        }
        loading(true);
        $.ajax({
            url: '/Admin_Anasayfa/bayiAdinaSistemeGir/',
            type: 'POST',
            dataType: 'json',
            data: theData,
            success: function (sonuc) {
                var result = (sonuc);
                if (Boolean(result.IsSuccessStatusCode)) {
                    window.location = "/Dealer_Anasayfa/Index";
                } else {
                    HataMesaji(result.ErrorMessage);
                }
            }
        });
    }
    function AdminBilgileri() {
         var sonuc = ('@Html.Raw(ViewBag.AdminBilgileri)');
        var result = JSON.parse(sonuc);
        $(".adiSoyadi").html(result[0]["AdiSoyadi"]);
        $(".mail").html(result[0]["MailAdresi"]);
        $(".telefon").html(result[0]["GSM"]);
    }




</script>
<style>
    .card-title a:before {
        content: none
    }

    table tbody tr td {
        white-space: nowrap;
    }

    thead {
        background-color: #006EB7;
        color: white
    }
</style>
<div class="page-header text-center bg-white" @*style="background-image: url('/assets/images/banners/banner.jpeg')"*@>
    <div class="container">
        <img src="/assets/images/banners/banner.jpeg" />
        <h1 class="page-title" style="font-family: cursive;font-weight: bold;display:none">İZOKALE PORTAL</h1>
    </div><!-- End .container -->
</div>
<div class="page-content pb-0 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-2 mb-lg-0">
                <div class="row">
                    <div class="col-sm-7">
                        <div class="contact-info">
                            <div class="card-header mb-1" id="heading-1" style="border: 0.1rem solid #ebebeb;border-left:3px solid #006EB7;border-right:3px solid #006EB7;border-radius:3px">
                                <h2 class="card-title">
                                    <a>
                                        Admin Bilgileri
                                    </a>
                                </h2>
                            </div>
                            <ul class="contact-list">
                                <li>
                                    <i class="fa-solid fa-user"></i>
                                    <b class="adiSoyadi"></b>
                                </li>
                                <li>
                                    <i class="icon-phone"></i>
                                    <a href="tel:#" class="telefon" style="font-weight:bold"></a>
                                </li>
                                <li>
                                    <i class="icon-envelope"></i>
                                    <a href="mailto:#" class="mail" style="font-weight:bold"></a>
                                </li>
                            </ul><!-- End .contact-list -->
                        </div><!-- End .contact-info -->
                    </div><!-- End .col-sm-7 -->
                    <!-- End .col-sm-5 -->
                </div><!-- End .row -->
            </div><!-- End .col-lg-6 -->
            <div class="col-lg-6">
                <div class="card-header" id="heading-1" style="border: 0.1rem solid #ebebeb;border-left:3px solid #006EB7;border-right:3px solid #006EB7;border-radius:3px">
                    <h2 class="card-title">
                        <a>
                            Duyurular
                        </a>
                    </h2>
                </div>
                <div class="card-body duyurular"></div>
            </div><!-- End .col-lg-6 -->
            @{ if (Convert.ToBoolean(yetkiler.BayiAdinaGiris))
                {
                    <div class="col-lg-6">
                        <table id="bayiler" class="table table-striped table-sm"
                               data-show-export="true"
                               data-auto-refresh="true"
                               data-export-types="['excel']"
                               data-export-options='{"fileName": "Bayi Listesi"}'
                               data-locale="tr-TR"
                               data-search="true">
                            <thead>
                                <tr>
                                    <th data-field="field1">Bayi Kodu</th>
                                    <th data-field="field2">Bayi Adı</th>
                                    <th data-field="field3"></th>

                                </tr>
                            </thead>

                        </table>




                    </div>
                }
            }

        </div><!-- End .row -->
        <hr class="mt-4 mb-5">
        <!-- End .stores -->
    </div><!-- End .container -->
</div>



